# EBFA Division League: Two teams results comparisons
The Notebook downloads fixtures of the selected EBFA division.
It compares how two teams played agains the same oppositions.

It is dependent on `ebfa_fixtures_change_detect` folder containing `getGroupFixtures` function that does the actual web scrape of fixtures from the EBFA website.

To change division, change `sEventId` and `sGroupId`.

To change teams to compare, change `sCafcTeam` and `sOppTeam`.

In [145]:
# Get all matches in the Division
import os
import sys
sys.path.insert(0, os.path.abspath(os.path.join(os.path.dirname(''), 
                                                'ebfa_fixtures_change_detect')))
import main as ebfa_fixtures_change_detect_func
import pandas as pd

sEventId = '4389'
sGroupId = '7590'

sCafcTeam = 'CAVERSHAM AFC JAGUARS'
sOppTeam = 'ROTHERFIELD UNITED WASPS'

dfAll = ebfa_fixtures_change_detect_func.getGroupFixtures(sEventId, sGroupId)
# dfAll.head()

In [146]:
# Extract CAFC team's matches played
dfCafc = dfAll[((dfAll.Home==sCafcTeam) | (dfAll.Away==sCafcTeam)) & dfAll.HG.notnull()]
dfCafc['OppTeam'] = dfCafc['Home'].str.replace(sCafcTeam, '')+dfCafc['Away'].str.replace(sCafcTeam, '')
dfCafc.head()

,Date,Home,HG,AG,Away,Notes,OppTeam
MatchId,,,,,,,
4781,2020-09-12,ARBORFIELD ACES,2,2,CAVERSHAM AFC JAGUARS,Match# 4781,ARBORFIELD ACES
4788,2020-09-19,CAVERSHAM AFC JAGUARS,2,3,AFC CHARVIL,Match# 4788,AFC CHARVIL
4794,2020-09-26,CAVERSHAM AFC JAGUARS,1,3,WHITEKNIGHTS,Match# 4794,WHITEKNIGHTS
4805,2020-10-17,CAVERSHAM AFC JAGUARS,4,5,BARTON ROVERS RAIDERS,Match# 4805,BARTON ROVERS RAIDERS
4811,2020-10-31,HAWLEY YOUTH RAIDERS,8,1,CAVERSHAM AFC JAGUARS,Match# 4811,HAWLEY YOUTH RAIDERS

In [147]:
# Extract the Opposition team's matches played
dfOppTeam = dfAll[((dfAll.Home==sOppTeam) | (dfAll.Away==sOppTeam)) & (dfAll.HG.notnull())]
dfOppTeam['OppTeam'] = dfOppTeam['Home'].str.replace(sOppTeam, '')+dfOppTeam['Away'].str.replace(sOppTeam,'')
dfOppTeam.head()

,Date,Home,HG,AG,Away,Notes,OppTeam
MatchId,,,,,,,
4778,2020-09-12,ROTHERFIELD UNITED WASPS,1,6,HAWLEY YOUTH RAIDERS,Match# 4778 | 09:30:00,HAWLEY YOUTH RAIDERS
4797,2020-10-10,WHITEKNIGHTS,4,3,ROTHERFIELD UNITED WASPS,Match# 4797,WHITEKNIGHTS
4803,2020-10-17,HEARTS OF TEDDLOTHIAN CHEETAHS,2,8,ROTHERFIELD UNITED WASPS,Match# 4803,HEARTS OF TEDDLOTHIAN CHEETAHS
4790,2020-10-24,ROTHERFIELD UNITED WASPS,7,1,WINDSOR YOUTH EAGLES TIGERS,Match# 4790 | Match rescheduled as Rotherfield...,WINDSOR YOUTH EAGLES TIGERS
4809,2020-10-31,ROTHERFIELD UNITED WASPS,7,2,FC WOODLEY ZEBRAS RED,Match# 4809 | 11:15:00,FC WOODLEY ZEBRAS RED

In [148]:
# Merge results together based on the same opposition team
dfOneLevel = dfCafc.merge(dfOppTeam, on='OppTeam', how='inner', suffixes=('', '_other'))
dfOneLevel.drop('Notes', axis=1, inplace=True)
dfOneLevel.drop('Notes_other', axis=1, inplace=True)
dfOneLevel.drop('OppTeam', axis=1)

,Date,Home,HG,AG,Away,Date_other,Home_other,HG_other,AG_other,Away_other
0,2020-09-12,ARBORFIELD ACES,2,2,CAVERSHAM AFC JAGUARS,2020-12-05,ARBORFIELD ACES,3,9,ROTHERFIELD UNITED WASPS
1,2020-09-19,CAVERSHAM AFC JAGUARS,2,3,AFC CHARVIL,2020-12-12,ROTHERFIELD UNITED WASPS,3,2,AFC CHARVIL
2,2020-09-26,CAVERSHAM AFC JAGUARS,1,3,WHITEKNIGHTS,2020-10-10,WHITEKNIGHTS,4,3,ROTHERFIELD UNITED WASPS
3,2020-10-31,HAWLEY YOUTH RAIDERS,8,1,CAVERSHAM AFC JAGUARS,2020-09-12,ROTHERFIELD UNITED WASPS,1,6,HAWLEY YOUTH RAIDERS
4,2020-12-12,WINDSOR YOUTH EAGLES TIGERS,2,2,CAVERSHAM AFC JAGUARS,2020-10-24,ROTHERFIELD UNITED WASPS,7,1,WINDSOR YOUTH EAGLES TIGERS